<a href="https://colab.research.google.com/github/Tixonmavrin/Zindi-Zimnat-Insurance-Recommendation-Challenge/blob/master/Baseline1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Zimnat Insurance Recommendation Challenge
Can you predict which insurance products existing clients will want next?
###Baseline with catboost

### Get data

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import copy
import matplotlib.pyplot as plt
%matplotlib inline

import os
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier, ExtraTreesClassifier, VotingClassifier
from catboost import CatBoostClassifier
from sklearn.model_selection import StratifiedKFold, RandomizedSearchCV, StratifiedShuffleSplit
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from scipy.stats import uniform as sp_randFloat
from scipy.stats import randint as sp_randInt
from sklearn import preprocessing
from sklearn import metrics
import numpy as np
import pandas as pd
from time import time
import pprint
import joblib
from sklearn.model_selection import KFold
from xgboost.sklearn import XGBClassifier
from sklearn.metrics import log_loss
import warnings
warnings.filterwarnings("ignore")

from scipy.optimize import minimize
# Classifiers
from catboost import CatBoostClassifier

from sklearn.base import BaseEstimator, ClassifierMixin
from scipy.optimize import minimize
from sklearn.metrics import log_loss

# Model selection
from sklearn.model_selection import StratifiedKFold

# Metrics
from sklearn.metrics import roc_auc_score
from sklearn.metrics import make_scorer

# Skopt functions
from skopt import BayesSearchCV
from skopt.callbacks import DeadlineStopper, VerboseCallback, DeltaXStopper
from skopt.space import Real, Categorical, Integer
from time import time

In [3]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')

# New Section

### New format

In [3]:
X_train = []
X_train_columns = train.columns
c = 0
for v in train.values:
    info = v[:8]
    binary = v[8:]
    index = [k for k, i in enumerate(binary) if i == 1]
    for i in index:
        c+=1
        for k in range(len(binary)):
            if k == i:
                binary_transformed = list(copy.copy(binary))
                binary_transformed[i] = 0
                X_train.append(list(info) + binary_transformed + [X_train_columns[8+k]] + [c])

X_train = pd.DataFrame(X_train)
X_train.columns = ['ID', 'join_date', 'sex', 'marital_status', 'birth_year', 'branch_code',
       'occupation_code', 'occupation_category_code', 'P5DA', 'RIBP', '8NN1',
       '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO',
       'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3', 'product_pred', 'ID2']

In [4]:
X_test = []
true_values = []
c = 0
for v in test.values:
    c += 1
    info = v[:8]
    binary = v[8:]
    index = [k for k, i in enumerate(binary) if i == 1]
    X_test.append(list(info) + list(binary) + [c])
    for k in test.columns[8:][index]:
        true_values.append(v[0] + ' X ' + k)

X_test = pd.DataFrame(X_test)
X_test.columns = ['ID', 'join_date', 'sex', 'marital_status', 'birth_year', 'branch_code',
       'occupation_code', 'occupation_category_code', 'P5DA', 'RIBP', '8NN1',
       '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO',
       'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3', 'ID2']

### Transform data

In [5]:
features_train = []
features_test = []
columns = []

append_features = ['P5DA', 'RIBP', '8NN1', '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 
'N2MW', 'AHXO','BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 
'ECY3', 'ID', 'ID2', 'join_date', 'sex', 'marital_status', 'branch_code', 'occupation_code', 'occupation_category_code',
'birth_year']
for v in append_features:
    features_train.append(X_train[v].values.reshape(-1, 1))
    features_test.append(X_test[v].values.reshape(-1, 1))
    columns.append(np.array([v]))

y_train = X_train[['product_pred']]

In [6]:
features_train = np.concatenate(features_train, axis=1)
features_test = np.concatenate(features_test, axis=1)
columns = np.concatenate(np.array(columns))

X_train = pd.DataFrame(features_train)
X_train.columns = columns
X_test = pd.DataFrame(features_test)
X_test.columns = columns

### New features

In [7]:
X_train['date1'] = X_train['join_date'].apply(lambda x: int(x.split('/')[0]) if (x == x) else np.nan)
X_train['date2'] = X_train['join_date'].apply(lambda x: int(x.split('/')[1]) if (x == x) else np.nan)
X_train['date3'] = X_train['join_date'].apply(lambda x: int(x.split('/')[2]) if (x == x) else np.nan)
X_train.drop('join_date', axis=1, inplace=True)

X_test['date1'] = X_test['join_date'].apply(lambda x: int(x.split('/')[0]) if (x == x) else np.nan)
X_test['date2'] = X_test['join_date'].apply(lambda x: int(x.split('/')[1]) if (x == x) else np.nan)
X_test['date3'] = X_test['join_date'].apply(lambda x: int(x.split('/')[2]) if (x == x) else np.nan)
X_test.drop('join_date', axis=1, inplace=True)

X_train['date_diff'] = X_train['date3'] - X_train['birth_year']
X_test['date_diff'] = X_test['date3'] - X_test['birth_year']

### Change types

In [8]:
X_train = X_train.fillna(0)
X_test = X_test.fillna(0)
y_train = y_train.fillna(0)

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data = X_train.append(X_test)
for v in ['sex', 'marital_status', 'branch_code', 'occupation_code', 'occupation_category_code',]:
    data.loc[:,v] = le.fit_transform(data.loc[:,v])
X_train = data[:X_train.shape[0]]
X_test = data[-X_test.shape[0]:]

In [10]:
le.fit(y_train.iloc[:,0])
y_train = pd.DataFrame(le.transform(y_train.iloc[:,0]))
y_train.columns = ['target']

In [11]:
pd.set_option('display.max_columns', None)
train.head()

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,8NN1,7POT,66FJ,GYSR,SOP4,RVSZ,PYUQ,LJR9,N2MW,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
3,2S9E81J,1/8/2019,M,M,1990,1X1H,BP09,56SI,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
4,BHDYVFT,1/8/2019,M,M,1990,748L,NO3L,T4MS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0

In [12]:
pd.set_option('display.max_columns', None)
X_train.head()

,P5DA,RIBP,8NN1,7POT,66FJ,GYSR,SOP4,RVSZ,PYUQ,LJR9,N2MW,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3,ID,ID2,sex,marital_status,branch_code,occupation_code,occupation_category_code,birth_year,date1,date2,date3,date_diff
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,4WKQSBB,1,0,2,0,19,5,1987,1.0,2.0,2019.0,32.0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,4WKQSBB,2,0,2,0,19,5,1987,1.0,2.0,2019.0,32.0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,CP5S02H,3,0,2,11,19,5,1981,1.0,6.0,2019.0,38.0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,CP5S02H,4,0,2,11,19,5,1981,1.0,6.0,2019.0,38.0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,2YKDILJ,5,1,6,3,185,1,1991,1.0,6.0,2013.0,22.0

In [13]:
data = X_train.append(X_test)

In [14]:
freq_1 = data['marital_status'].value_counts()
data['marital_status_fe'] = data['marital_status'].map(freq_1)

freq_2 = data['branch_code'].value_counts()
data['branch_code_fe'] = data['branch_code'].map(freq_2)

freq_3 = data['occupation_category_code'].value_counts()
data['occupation_category_code_fe'] = data['occupation_category_code'].map(freq_3)

In [15]:
## Squaring the features 

data['marital_status_sq'] = data['marital_status']**2
data['branch_code_sq'] = data['branch_code']**2
data['occupation_code_sq'] = data['occupation_code']**2
data['occupation_category_code_sq'] = data['occupation_category_code']**2
data['date_diff_sq'] = data['date_diff']**2

data['marital_status_cube'] = data['marital_status']**3
data['branch_code_cube'] = data['branch_code']**3
data['occupation_code_cube'] = data['occupation_code']**3
data['occupation_category_code_cube'] = data['occupation_category_code']**3
data['date_diff_cube'] = data['date_diff']**3

data['marital_status_log'] = (data['marital_status']+1).transform(np.log)
data['branch_code_log'] = (data['branch_code']+1).transform(np.log)
data['occupation_code_cube'] = (data['occupation_code']+1).transform(np.log)
data['occupation_category_code_log'] = (data['occupation_category_code']+1).transform(np.log)
data['date_diff_log'] = (data['date_diff']+1).transform(np.log)

data['sex*marital_status'] = data['sex'] * data['marital_status']
data['occupation_code*occupation_cat_code'] = data['occupation_code'] * data['occupation_category_code']
# data = data.drop(['marital_status', 'branch_code', 'occupation_category_code'], axis=1)
# X_train = data[:X_train.shape[0]]
# X_test = data[-X_test.shape[0]:]

In [16]:
data.head()

,P5DA,RIBP,8NN1,7POT,66FJ,GYSR,SOP4,RVSZ,PYUQ,LJR9,N2MW,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3,ID,ID2,sex,marital_status,branch_code,occupation_code,occupation_category_code,birth_year,date1,date2,date3,date_diff,marital_status_fe,branch_code_fe,occupation_category_code_fe,marital_status_sq,branch_code_sq,occupation_code_sq,occupation_category_code_sq,date_diff_sq,marital_status_cube,branch_code_cube,occupation_code_cube,occupation_category_code_cube,date_diff_cube,marital_status_log,branch_code_log,occupation_category_code_log,date_diff_log,sex*marital_status,occupation_code*occupation_cat_code
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,4WKQSBB,1,0,2,0,19,5,1987,1.0,2.0,2019.0,32.0,59731,3130,48918,4,0,361,25,1024.0,8,0,2.995732,125,32768.0,1.098612,0.000000,1.791759,3.496508,0,95
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,4WKQSBB,2,0,2,0,19,5,1987,1.0,2.0,2019.0,32.0,59731,3130,48918,4,0,361,25,1024.0,8,0,2.995732,125,32768.0,1.098612,0.000000,1.791759,3.496508,0,95
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,CP5S02H,3,0,2,11,19,5,1981,1.0,6.0,2019.0,38.0,59731,8972,48918,4,121,361,25,1444.0,8,1331,2.995732,125,54872.0,1.098612,2.484907,1.791759,3.663562,0,95
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,CP5S02H,4,0,2,11,19,5,1981,1.0,6.0,2019.0,38.0,59731,8972,48918,4,121,361,25,1444.0,8,1331,2.995732,125,54872.0,1.098612,2.484907,1.791759,3.663562,0,95
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,2YKDILJ,5,1,6,3,185,1,1991,1.0,6.0,2013.0,22.0,6905,21481,14842,36,9,34225,1,484.0,216,27,5.225747,1,10648.0,1.945910,1.386294,0.693147,3.135494,6,185

In [17]:
X_train = data[:X_train.shape[0]]
X_test = data[-X_test.shape[0]:]

In [54]:
train = pd.concat([X_train, y_train], axis=1)
labels = train['target']
train = train.drop(['ID', 'ID2', 'target'],axis=1)
# print(train.head())

## we need a test set that we didn't train on to find the best weights for combining the classifiers
# sss = StratifiedShuffleSplit(labels, test_size=0.05, random_state=1234)
# for train_index, test_index in sss:
#     break

    
cv = StratifiedShuffleSplit(n_splits=10, random_state=42)

for train_idx, test_idx in cv.split(train, labels):
    break
train_x, train_y = train.values[train_idx], labels.values[train_idx]
test_x, test_y = train.values[test_idx], labels.values[test_idx]
# labels

In [55]:
train_x.shape

(59717, 50)

In [64]:
from sklearn.linear_model import LogisticRegression
### building the classifiers
clfs = []

rfc = RandomForestClassifier(n_estimators=50, random_state=4141, n_jobs=-1)
rfc.fit(train_x, train_y)
print('RFC LogLoss {score}'.format(score=log_loss(test_y, rfc.predict_proba(test_x),  labels=rfc.classes_)))
clfs.append(rfc)

### usually you'd use xgboost and neural nets here

logreg = LogisticRegression()
logreg.fit(train_x, train_y)
print('LogisticRegression LogLoss {score}'.format(score=log_loss(test_y, logreg.predict_proba(test_x),  labels=rfc.classes_)))
clfs.append(logreg)

rfc2 = RandomForestClassifier(n_estimators=50, random_state=1337, n_jobs=-1)
rfc2.fit(train_x, train_y)
print('RFC2 LogLoss {score}'.format(score=log_loss(test_y, rfc2.predict_proba(test_x),  labels=rfc.classes_)))
clfs.append(rfc2)


### finding the optimum weights

predictions = []
for clf in clfs:
    predictions.append(clf.predict_proba(test_x))
classes = rfc.classes_
def log_loss_func(weights):
    ''' scipy minimize will pass the weights as a numpy array '''
    final_prediction = 0
    for weight, prediction in zip(weights, predictions):
            final_prediction += weight*prediction

    return log_loss(test_y, final_prediction, labels=classes)
    
#the algorithms need a starting value, right not we chose 0.5 for all weights
#its better to choose many random starting points and run minimize a few times
starting_values = [0.5]*len(predictions)

#adding constraints  and a different solver as suggested by user 16universe
#https://kaggle2.blob.core.windows.net/forum-message-attachments/75655/2393/otto%20model%20weights.pdf?sv=2012-02-12&se=2015-05-03T21%3A22%3A17Z&sr=b&sp=r&sig=rkeA7EJC%2BiQ%2FJ%2BcMpcA4lYQLFh6ubNqs2XAkGtFsAv0%3D
cons = ({'type':'eq','fun':lambda w: 1-sum(w)})
#our weights are bound between 0 and 1
bounds = [(0,1)]*len(predictions)

res = minimize(log_loss_func, starting_values, method='SLSQP', bounds=bounds, constraints=cons)

print('Ensamble Score: {best_score}'.format(best_score=res['fun']))
print('Best Weights: {weights}'.format(weights=res['x']))

RFC LogLoss 1.2471173670781892
LogisticRegression LogLoss 1.6737262787055527
RFC2 LogLoss 1.2504952893686287
Ensamble Score: 0.5645719152388188
Best Weights: [0.46307283 0.03022894 0.50669823]

In [73]:
class MegaClassifier(BaseEstimator, ClassifierMixin):
    def __init__(self, estimators, xv_tries=4, test_size=0.2):
        self.estimators = estimators
        self.xv_tries = xv_tries
        self.test_size = test_size

    def fit(self, X, y):
        self.X_trains = []
        self.y_trains = []
        self.X_valids = []
        self.y_valids = []
        for i in range(self.xv_tries):
            Xt, Xv, yt, yv = train_test_split(X, y, test_size=self.test_size)
            self.X_trains.append(Xt)
            self.X_valids.append(Xv)
            self.y_trains.append(yt)
            self.y_valids.append(yv)

        # train the classifiers
        self.all_xv_predictions = []

        for ind, Xt in enumerate(self.X_trains):
            cur_xv_predictions = []
            for estimator in self.estimators:
                #new_est = copy.deepcopy(estimator)
                #new_est.fit(Xt, self.y_trains[ind])
                estimator.fit(Xt, self.y_trains[ind])
                cur_xv_predictions.append(estimator.predict_proba(self.X_valids[ind]))
            self.all_xv_predictions.append(cur_xv_predictions)

        num_estimators = len(self.estimators)
        initial_weights = [1.0 / float(num_estimators) for i in range(num_estimators)]

        print ("Optimizing....")
        bounds = [(0, 1) for i in range(num_estimators)]
        constraints = {'type': 'eq', 'fun': lambda w: 1 - sum(w)}
        res = minimize(self.__find_best_blending_weights, initial_weights, bounds=bounds, constraints=constraints)
        self.final_weights = res.x
        print ("Optimization finished...")

        print ("Weights:")
        print (self.final_weights)

        for estimator in self.estimators:
            estimator.fit(X, y)


    def __find_best_blending_weights(self, weights):
        log_losses = []
        for ind1, xv_predictions in enumerate(self.all_xv_predictions):
            y_final_pred_prob = None
            for ind, est_predictions in enumerate(xv_predictions):
                if y_final_pred_prob is None:
                    y_final_pred_prob = weights[ind] * est_predictions
                else:
                    y_final_pred_prob = np.add(y_final_pred_prob, (weights[ind] * est_predictions))
            log_losses.append(log_loss(self.y_valids[ind1], y_final_pred_prob))

        log_losses = np.array(log_losses)
        return log_losses.mean()

    def predict_proba(self, X):

        y_final_pred_prob = None
        for ind, estimator in enumerate(self.estimators):
            y_pp_cur = estimator.predict_proba(X)
            if y_final_pred_prob is None:
                y_final_pred_prob = self.final_weights[ind] * y_pp_cur
            else:
                y_final_pred_prob = np.add(y_final_pred_prob, (self.final_weights[ind] * y_pp_cur))
        return y_final_pred_prob

In [78]:
rfc.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [77]:
estimators = []
estimators.append(XGBClassifier(learning_rate=0.1675, max_depth=10, gamma=1.976, n_estimators=550))
estimators.append(XGBClassifier(max_depth=10, learning_rate=0.1675, n_estimators=450, gamma=1.9676, min_child_weight=5, colsample_bytree=1, colsample_bylevel=1, reg_alpha=1, max_delta_step=20))

C_MC = MegaClassifier(estimators = estimators, xv_tries = 5)
C_MC. fit(X_train.drop(columns=['ID', 'ID2'],axis=1), y_train)

meta_probs = C_MC.predict_proba(X_test.drop(columns=['ID', 'ID2'],axis=1))

KeyboardInterrupt:

In [ ]:
xgb_1 = XGBClassifier(learning_rate=0.1675, max_depth=10, gamma=1.976, n_estimators=550)
# model_xgb = xgb.fit(X_train.drop(columns=['ID', 'ID2'],axis=1), y_train)
# preds_xgb = model_xgb.predict_proba(X_test.drop(columns=['ID', 'ID2'],axis=1))

In [ ]:
xgb_2 = XGBClassifier(max_depth=10, learning_rate=0.1675, n_estimators=450, gamma=1.9676, min_child_weight=5, colsample_bytree=1, colsample_bylevel=1, reg_alpha=1, max_delta_step=20)

In [ ]:
xgb_3 = XGBClassifier(max_depth=20, learning_rate=0.1675, n_estimators=550, gamma=1.7676, min_child_weight=5, colsample_bytree=1, colsample_bylevel=1, reg_alpha=1, max_delta_step=20)

In [ ]:
rf = RandomForestClassifier(n_estimators=200,max_depth=8,min_samples_split=10)
# model_rf = rf.fit(X_train.drop(columns=['ID', 'ID2'],axis=1), y_train)
# preds_rf = model_rf.predict_proba(X_test.drop(columns=['ID', 'ID2'],axis=1))

In [ ]:
gbc = GradientBoostingClassifier(n_estimators=400,learning_rate=0.1,random_state=100,max_features=4 )
# model_gbc = gbc.fit(X_train.drop(columns=['ID', 'ID2'],axis=1), y_train)
# preds_gbc = model_gbc.predict_proba(X_test.drop(columns=['ID', 'ID2'],axis=1))

In [ ]:
catb = CatBoostClassifier(depth=7, iterations= 79, learning_rate = 0.24800286296598373, )
# model_catb = catb.fit(X_train.drop(columns=['ID', 'ID2'],axis=1), y_train)
# preds_catb = model_catb.predict_proba(X_test.drop(columns=['ID', 'ID2'],axis=1))

In [ ]:
len(X_train.columns)

In [ ]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(32, input_dim=50, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(X_train.drop(columns=['ID', 'ID2'],axis=1), y_train, epochs=150, batch_size=100)

In [ ]:
predictions = model.predict_classes(X_test.drop(['ID', 'ID2'], axis=1))

In [ ]:
eclf = VotingClassifier(estimators=[('xgb_2',xgb_2),('xgb_1',xgb_1), ('xgb_3',xgb_3), ('gbc', gbc)], voting='soft', weights=[10,10,10, 2])
model_eclf = eclf.fit(X_train.drop(columns=['ID', 'ID2'],axis=1), y_train)
preds_voting = model_eclf.predict_proba(X_test.drop(columns=['ID', 'ID2'],axis=1))

In [1]:
y_test = pd.DataFrame(preds_voting)
y_test.columns = le.inverse_transform(y_test.columns)

NameError: name 'pd' is not defined

### Model

### Submit

In [ ]:
answer_mass = []
for i in range(X_test.shape[0]):
    id = X_test['ID'].iloc[i]
    for c in y_test.columns:
        answer_mass.append([id + ' X ' + c, y_test[c].iloc[i]])

df_answer = pd.DataFrame(answer_mass)
df_answer.columns = ['ID X PCODE', 'Label']
for i in range(df_answer.shape[0]):
    if df_answer['ID X PCODE'].iloc[i] in true_values:
        df_answer['Label'].iloc[i] = 1.0

In [ ]:
df_answer.reset_index(drop=True, inplace=True)
df_answer.to_csv('submission69.csv', index=False)

Submit